<p id="notice"><%= notice %></p>

<h1>Listing Bookmarks</h1>

<%= form_for @bookmark, :html => { :id => 'new_bookmark' }, remote: true do |f| %>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div id="error">Bookmark not saved!</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>

<ul id="bookmark_list">
  <% @bookmarks.each do |bookmark| %>
    <li>
      <%= render partial: 'bookmark', locals: { bookmark: bookmark } %>
    </li>
  <% end %>
</ul>